[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/php-indenting"]
	path = bundle/php-indenting
	url = http://github.com/2072/PHP-Indenting-for-VIm.git
[submodule "bundle/vdebug"]
	path = bundle/vdebug
	url = http://github.com/joonty/vdebug.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = http://github.com/easymotion/vim-easymotion
[submodule "bundle/php-indenting-with-html"]
	path = bundle/php-indenting-with-html
	url = https://github.com/captbaritone/better-indent-support-for-php-with-html
[submodule "/home/quaker/.vim/bundle/whitespace"]
	path = /home/quaker/.vim/bundle/whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
